header{
    text-align: right;
    margin: 0 .75em;
    font-size:50px;
    font-weight:100;
    position:relative;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav li{
    display:inline-block;
}
header nav li a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    right: 0px; 
    margin-right: auto;
    list-style: none;
    text-decoration: none;
}
header nav li a:hover{
    background-color:  rgb(105, 105, 105);
    color: white;
}
.menu{
    
    padding: 5px;
    box-shadow: 3px -1px 5px  rgb(105, 105, 105);
    border-radius: 15%;
}

img{
    border-radius: 50%;
    box-shadow: 5px -5px 3px  rgb(105, 105, 105);
}
.sidenav{
    position: absolute;
    display: block;
    margin-left: 40%;
    margin-right: 30%}


main{
    
    display:block 
}
main h1, h2{
    text-align: center;
    font-size: 50px;
    text-shadow:3px -1px 5px  rgb(105, 105, 105);
    font-family: 'Literata', serif;
}

.one{
    display: block;
    margin-top: 400px;
    margin-bottom: 0px;
}
body{
    color: rgb(0, 0, 0);
    margin: 0;
    background-image: linear-gradient(120deg, #99ffff 0%, #66ffff 100%);
}
p{
    text-align: justify;
    border: 1px solid rgb(211, 164, 255)ed;
    box-shadow: 3px -1px 5px   rgb(105, 105, 105);
    padding: 2px;
    margin: 100px;
    margin-top: 15px;
    font-style: normal;
    font-size: 24px;
    width: 100px 70px;
    height: 200px;
    line-height: 25px;
    justify-content: center;
   
}footer{
    text-align: center;
    color: rgb(115, 12, 146);
    text-shadow: 3px -1px 5px  rgb(105, 105, 105);
}