header{
    text-align: right;
    margin: 0 .75em;
    font-size:50px;
    font-weight:100;
    position:relative;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav li{
    display:inline-block;
}
header nav li a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    right: 0px; 
    margin-right: auto;
    list-style: none;
    text-decoration: none;
}
header nav li a:hover{
    color: white;
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    box-shadow: 2px 0px 6px  rgb(233, 233, 233);
    border-radius: 15%;
}
.menu:hover{
    box-shadow:none;
}

.sidenav img{
    border-radius: 50%;
    box-shadow: 2px 0px 6px  rgb(233, 233, 233);
    width: 300px;
    height: 300px;
   
}
.sidenav{
    display: block;
    
    text-align: center;
    justify-content: center;
    position: relative;
    top:50px;
}



main{
    
    display:flex;
    flex-direction: column; 
}
main h1, h2{
    text-align: center;
    font-size: 50px;
    text-shadow:2px 0px 6px  rgb(233, 233, 233);
    
}

.one{
    flex-basis: auto;
    margin-top: 100px;
    margin-bottom: 0px;
    box-shadow: 3px -1px 5px  rgb(102, 102, 87);
    width: auto;
    height: auto;
}
.th{
    flex-basis: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px -1px 5px  rgb(102, 102, 87);
    width: auto;
    height: auto; 
}
body{
    text-shadow:2px 0px 6px  rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    margin: 0;
    background-image: linear-gradient(120deg, #00ccff 0%, #33ccff 100%);
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25%;
    font-size: 24px;
    
    
   
}footer{
    text-align: center;
    color: black;
    
}
@media (max-width:600px){
    .sidenav{
        margin-left: 30%;

    }
    body{
        text-align: center;
    }
    .sidenav img{
        width: 200px;
        height: 200px;
        margin-top:40px;
    }
    main h1, h2{
        text-align: center;
        font-size: 30px;
        text-shadow:2px 0px 6px  rgb(233, 233, 233);
        
    }
    .one{
        flex-basis: auto;
        margin-top: 100px;
        margin-bottom: 0px;
        
    }
    p{
        padding-left:6%;
        font-size: 15px;
    }
    .sidenav{
        padding: auto;
        margin:auto;
        text-align: center;
        justify-content: center;
        position: relative;
        top:50px;
    }
}